run = "npm run start"
entrypoint = "api/src/index.js"
modules = ["nodejs-20", "web", "nix"]

hidden = [".config", "package-lock.json"]

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "npm run start"]
deploymentTarget = "cloudrun"
ignorePorts = false

[[ports]]
localPort = 3002
externalPort = 80

[[ports]]
localPort = 5173
externalPort = 3000
